.flex {
  display: flex;
  margin-top: 10px;
}
.ml-15 {
  margin-left: 15px !important;
}
.flex-1 {
  flex: 1;
}

.flexGrow {
  flex-grow: 1;
}
.menuButton {
  margin-right: 16px;
}
.title {
  flex-grow: 1;
}